<<<<<<< HEAD
*{
    margin:0;
    padding:0;
    box-sizing:0;
}
.service{
 display:flex;

}


.accordion{
    margin: auto;
    width:30%;
    background-color: #fff;
    padding:20px;
    border-radius: 30px;
}
.accordion .accordion-title{
    margin-bottom: 30px;
    text-align: center;
    color:red
}
.accordion .content-container .questions{
    padding: 18px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    position: relative;
}
.accordion .content-container .questions::after{
    content:'+';
    position: absolute;
    right:-15px;
}
.accordion .content-container .answer{
    padding-top: 15px;
    font-size: 22px;
    line-height:1.5;
    width:100%;

    height: 0px;
    overflow: hidden;
    transition: .5s;
}
.container{
    display: flex;
    justify-content:space-around;
     align-items: center;
    flex-wrap:wrap;
    margin:10px;
}
.card{
    background-color: #fff;
    width:300px;
    height:400px;
    border-radius: 15px;
    margin: 10px;
}
.card-image{
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.card-1{
   background-image: url(doctor2.png);
   height:300px;
  width:100%
}
.card-2{
    background-image: url(doctor.png);
    height: 300px;  
    width: 100%;
}
.card-4{
    background-image: url(doctor4.png);
    height: 300px;  
    width: 100%;
}
.card-3{
    background-image: url(doctor3.png);
    height:300px;
    width:100%;
}
.card h2{
    padding: 10px;
}
.card p{
    padding: 10px;
    text-align:center;
    font-size: 25px;
}
.card a{
    background-color: black;
    color:white;
    padding: 15px 10px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}
.card:hover{
    background-color: aqua;
    color: white;
    transform: scale(1.22);
    transition: all 1s ease;
    cursor: pointer;
}
/*javascript styling link for accordion*/
.accordion .content-container.active .answer{
    height: 100px;
}
.accordion .content-container.active .questions{
    font-size: 18px;
    transition:.5s;
}
.accordion .content-container.active .questions::after{
    content:'-';
    font-size: 30px;
    transition: .5s;
}
.clip{
    width:30%;
    height: 40%;   
=======
*{
    margin:0;
    padding:0;
    box-sizing:0;
}
.service{
 display:flex;

}


.accordion{
    margin: auto;
    width:30%;
    background-color: #fff;
    padding:20px;
    border-radius: 30px;
}
.accordion .accordion-title{
    margin-bottom: 30px;
    text-align: center;
    color:red
}
.accordion .content-container .questions{
    padding: 18px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    position: relative;
}
.accordion .content-container .questions::after{
    content:'+';
    position: absolute;
    right:-15px;
}
.accordion .content-container .answer{
    padding-top: 15px;
    font-size: 22px;
    line-height:1.5;
    width:100%;

    height: 0px;
    overflow: hidden;
    transition: .5s;
}
.container{
    display: flex;
    justify-content:space-around;
     align-items: center;
    flex-wrap:wrap;
    margin:10px;
}
.card{
    background-color: #fff;
    width:300px;
    height:400px;
    border-radius: 15px;
    margin: 10px;
}
.card-image{
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.card-1{
   background-image: url(doctor2.png);
   height:300px;
  width:100%
}
.card-2{
    background-image: url(doctor.png);
    height: 300px;  
    width: 100%;
}
.card-4{
    background-image: url(doctor4.png);
    height: 300px;  
    width: 100%;
}
.card-3{
    background-image: url(doctor3.png);
    height:300px;
    width:100%;
}
.card h2{
    padding: 10px;
}
.card p{
    padding: 10px;
    text-align:center;
    font-size: 25px;
}
.card a{
    background-color: black;
    color:white;
    padding: 15px 10px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}
.card:hover{
    background-color: aqua;
    color: white;
    transform: scale(1.22);
    transition: all 1s ease;
    cursor: pointer;
}
/*javascript styling link for accordion*/
.accordion .content-container.active .answer{
    height: 100px;
}
.accordion .content-container.active .questions{
    font-size: 18px;
    transition:.5s;
}
.accordion .content-container.active .questions::after{
    content:'-';
    font-size: 30px;
    transition: .5s;
}
.clip{
    width:30%;
    height: 40%;   
>>>>>>> 88d89cd5a32864f9f90093458b8aaad66ae32982
}